<div class="row">
    <div class="jumbotron vertical-center text-right" style="background-color: white">
        <div class="container-fluid">
            <h1 style="font-family: 'Times New Roman'; color: black" class="animated zoomInUp" >Siddharth Gupta</h1>
            <footer style="color: darkgrey" class="blockquote-footer"><cite title="Source Title"><b>Full Stack Developer</b></cite></footer>
        </div>
    </div>
</div>

