<div class="container-fluid">

    <div class="row">
        <div class="col-md-3 hidden-xs hidden-sm">
            <nav id="spy">
                <span class="item" data-scrollspy-listen="Summary">Summary</span>
                <span class="item" data-scrollspy-listen="Positions">Positions</span>
                <span class="item" data-scrollspy-listen="Skills">Skills</span>
                <span class="item" data-scrollspy-listen="Projects">Projects</span>
            </nav>
        </div>
        <div class="col-md-9">
            <section id="Summary" data-scrollspy-broadcast >
                <div id="SummaryDiv" class="container" style="min-height: 600px">
                    <div class="row" style="background-color: lightgrey; padding: 2%">
                        <h2>Summary</h2>


                    </div>

                    <hr>
                    <ul>
                        <li>Expert in design & development using Java/Java EE stack frameworks.</li>
                        <li>Experience in development of Add-on and plugins for Jive 7 SBS and Jive – X (Cloud)
                            using Jive
                            Node SDK.
                        </li>
                        <li>Experience in development of Single Page Applications (SPA) using Angular JS</li>
                        <li>Experience of server-side JavaScript programming frameworks like Node JS, Express JS
                            etc.
                        </li>
                        <li>Over 2 years of design and development experience in Business Process Management(BPM),
                            using
                            workflow
                            engines like Aqualogic/Oracle BPM and JBoss jBPM
                        </li>
                        <li>Knowledge in Salesforce.com development using Apex and Visual force.</li>
                        <li>Knowledge of Oracle Identity and Access Management (OIM and OAM)</li>
                        <li>Ability to learn new skills rapidly in a team or working independently by using
                            experience in
                            past
                            related
                            technologies.
                        </li>
                        <li>Well versed with waterfall and agile models software development methodologies.</li>
                        <li>Ability to translate business needs into technology requirements such as Designing
                            technical
                            specifications,
                            development and quality control.
                        </li>
                        <li>Ability to manage team of medium size and ensure timely deliverables of work products.
                        </li>
                        <li>Ability to manage team of medium size and ensure timely deliverables of work products.
                        </li>
                        <li>Successfully handled pre-sales operations for major German Chemical Company in Kuala
                            Lumpur,
                            Malaysia
                            and
                            Sao Paulo, Brazil.
                        </li>
                        <li>Exposure of working in an Onsite - Offshore development model. Worked as an Onsite
                            coordinator
                            for
                            multiple
                            projects.
                        </li>
                    </ul>
                </div>
            </section>


            <section id="Positions" data-scrollspy-broadcast style=".row{margin-top: 30px;
    margin-bottom: 30px;}">
                <div class="container" style="min-height: 500px">
                    <div class="row" style="background-color: lightgrey; padding: 2%">
                        <h2>Positions Held</h2>


                    </div>

                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <h4>Hitachi Data Systems</h4>
                            <p>Dec 2015- Till Date</p>
                        </div>
                        <div class="col-md-8">
                            <p>
                                <strong>Senior Applications Analyst</strong>
                            </p>
                            <span class="experince">
                               <span class="location">
                                   <span class="glyphicon glyphicon-map-marker"></span>
                                   Santa Clara,CA,USA
                               </span>
                           </span>
                            <span class="seprator">|</span>
                            <span class="link">
                               <span class="glyphicon glyphicon-link"></span>
                               <a href="https://www.hds.com/en-us/home.html" target="_blank">https://www.hds.com/en-us/home.html</a>
                           </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h4>Selectiva Systems Inc.</h4>
                            <p>June 2015- Dec 2015</p>
                        </div>
                        <div class="col-md-8">
                            <p>
                                <strong>Programmer Analyst</strong>
                            </p>
                            <span class="experince">
                               <span class="location">
                                   <span class="glyphicon glyphicon-map-marker"></span>
                                   San Jose,CA,USA
                               </span>
                           </span>
                            <span class="seprator">|</span>
                            <span class="link">
                               <span class="glyphicon glyphicon-link"></span>
                               <a href="http://selectiva.com/" target="_blank">http://selectiva.com/</a>
                           </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h4>Tech Mahindra</h4>
                            <p>August 2005 – April 2015</p>
                        </div>
                        <div class="col-md-8">
                            <p>
                                <strong>Project Lead</strong>
                            </p>
                            <span class="experince">
                               <span class="location">
                                   <span class="glyphicon glyphicon-map-marker"></span>
                                   Hyderabad,India
                               </span>
                           </span>
                            <span class="seprator">|</span>
                            <span class="link">
                               <span class="glyphicon glyphicon-link"></span>
                               <a href="http://www.techmahindra.com/pages/default.aspx" target="_blank">http://www.techmahindra.com/pages/default.aspx</a>
                           </span>
                        </div>
                    </div>


                </div>

            </section>

            <section id="Skills" data-scrollspy-broadcast>

                <div class="container " style="min-height: 1000px">
                    <div class="row" style="background-color: lightgrey; padding: 2%">
                        <h2 >Skills</h2>


                    </div>
                    <hr>
                    <div class="row" style="background-color: #f0efee">
                        <div class="col-md-4">
                            <h4>Core Java</h4>
                        </div>
                        <div class="col-md-8">
                               <span>
                                   Java 1.4 and above
                               </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h4>J2EE Technologies</h4>
                        </div>
                        <div class="col-md-8">
                               <span>
                                  JSP, Servlet, JSF 1.2(Icefaces, Richfaces) , EJB 2.x (Stateless Session Beans and Message Driven Beans), EJB 3.0 (Entity Beans), JMS, JDBC, Apache POI, Apache Cocoon
                               </span>
                        </div>
                    </div>

                    <div class="row" style="background-color: #f0efee">
                        <div class="col-md-4">
                            <h4>Application Framework</h4>
                        </div>
                        <div class="col-md-8">
                               <span>
                                   Spring 2.x, 3.x, Seam 2.x, Spring MVC, Hibernate 3.x, Struts 1.x, Spring Integration, Google Web Toolkit, EhCache
                               </span>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h4>Scripting Languages/Frameworks</h4>
                        </div>
                        <div class="col-md-8">
                               <span>
                                  Javascript, Jquery, Jquery-UI Jquery components like data- tables, Multiselect etc), Angular JS, Node JS, Express JS, Marketo Munchkin API, Jive Node SDK
                               </span>

                        </div>
                    </div>

                    <div class="row" style="background-color: #f0efee">
                        <div class="col-md-4">
                            <h4>No SQL Db</h4>
                        </div>
                        <div class="col-md-8">
                               <span>
                                   Mongo Db
                               </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h4>BPM Engines</h4>
                        </div>
                        <div class="col-md-8">
                               <span>
                                   JBoss jBPM, Aqualogic/Oracle BPM
                               </span>
                        </div>
                    </div>

                    <div class="row" style="background-color: #f0efee">
                        <div class="col-md-4">
                            <h4>Web Service XML/ APIs
                            </h4>
                        </div>
                        <div class="col-md-8">
                               <span>
                                   WSDL, JAX-RPC, JAX-WS, JAXB, SAX, DOM, XML, XPath, XMLBeans, XSD, DTD, JAXB and PAPI, BPEL, JAX-RS, Jersey, JBoss RestEasy
                               </span>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h4>Tools</h4>
                        </div>
                        <div class="col-md-8">
                               <span>
                                   Eclipse, NetBeans ,Star UML, TOAD, XMLSpy, JProbe, inFusion, inCode, Yourkit, SQL Developer, Visual Code studio
                               </span>
                        </div>
                    </div>

                    <div class="row" style="background-color: #f0efee">
                        <div class="col-md-4">
                            <h4>Application servers</h4>
                        </div>
                        <div class="col-md-8">
                               <span>
                                   Tomcat 5.5.17, BEA Weblogic 8.1/9.2/10, JBoss 3.1/5.x, JBoss 7.1.1
                               </span>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h4>RDBMS/DBMS</h4>
                        </div>
                        <div class="col-md-8">
                               <span>
                                  Oracle 8i, 9i, 10g, 11g, MySql
                               </span>

                        </div>
                    </div>

                    <div class="row" style="background-color: #f0efee">
                        <div class="col-md-4">
                            <h4>Authentication and authorization protocols</h4>
                        </div>
                        <div class="col-md-8">
                               <span>
                                  SAML 2.0, OAuth
                               </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h4>Test Automation Tool</h4>
                        </div>
                        <div class="col-md-8">
                               <span>
                                   Selenium Web Driver (Java), Apache JMeter
                               </span>
                            </span>

                        </div>
                    </div>

                    <div class="row" style="background-color: #f0efee">
                        <div class="col-md-4">
                            <h4>Operating Systems</h4>
                        </div>
                        <div class="col-md-8">
                               <span>
                                   Windows NT/XP, Unix, Ubuntu
                               </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h4>Software Configuration Management tools</h4>
                        </div>
                        <div class="col-md-8">
                               <span>
                                   IBM ClearCase, Tortoise SVN, Git, Subversion, CVS
                               </span>
                        </div>
                    </div>

                    <div class="row" style="background-color: #f0efee">
                        <div class="col-md-4">
                            <h4>JBuild and release scripts/tools</h4>
                        </div>
                        <div class="col-md-8">
                               <span>
                                   Ant, Maven, Shell and Batch scripts, CruiseControl, npm, nvm
                               </span>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h4>Project Management/Issue Tracking Tools</h4>
                        </div>
                        <div class="col-md-8">
                               <span>
                                   Jira, CA Service desk
                               </span>

                        </div>
                    </div>
                </div>


            </section>

            <section id="Projects" data-scrollspy-broadcast>
                <div class="container">
                    <div class="row" style="background-color: lightgrey; padding: 2%">
                        <h2>Projects</h2>


                    </div>

                    <hr>

                    <div>

                        <div class="row">
                            <div class="col-md-4">
                                <h4>Senior Applications Analyst</h4>
                                <p>August 2015- Till Date</p>
                            </div>
                            <div class="col-md-8">
                                <p><strong>Hitachi Data Systems</strong></p>
                                <span class="experince">
                                    <span class="location">
                                        <span class="glyphicon glyphicon-map-marker"></span>
                                            Santa Clara,CA,USA
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">

                                        <a href="javascript:;" data-toggle="collapse" data-parent="#accordion"
                                           data-target="#collapseOne">
                                            Detail
                                           <span class="glyphicon glyphicon-chevron-down"></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            <li>Preparation of design documents.</li>
                                            <li>Development of feature/enhancement as per the requirements</li>
                                            <li>Creating design documents for user and organization provisioning in CSOD
                                                cloud platform from in-premise applications
                                            </li>
                                            <li>Identifying current LMS systems’ (Saba) upstream and downstream
                                                applications
                                                and coordinating with respective teams to ensure smooth transition to
                                                new
                                                LMS (CSOD On demand)
                                            </li>
                                            <li>Development of middleware integration component for data provisioning
                                                from
                                                HDS on premise applications to CornerStone On Demand LMS using Java,
                                                web-services (SOAP and RESTFul).
                                            </li>
                                            <li>SSO configuration in Jive Social Collaboration software</li>
                                            <li>Development of Lead tracking middleware application using Munchkin API,
                                                Marketo REST API and Jive REST API to track and upsert lead details and
                                                activities from Jive Community to Marketo
                                            </li>
                                            <li>Development of Jive add-ons using Node JS (Jive Node SDK)</li>
                                            <li>Development of Auto security group middleware app for Jive cloud using
                                                Jive
                                                webhooks and Jive REST API
                                            </li>
                                        </ul>

                                    </div>
                                    <div class="panel-footer">
                                        <strong>Skills used:</strong>
                                        Java 5, Saba LMS, CSOD LMS, RestFul WS, Jive 7 SBS and Jive –X (Cloud), Oracle,
                                        Unix
                                        Crontab, Marketo Muchkin API, Marketo API Jive API v3, SAML, OAUTH, Node JS,
                                        Jive
                                        Node SDK, Jive Jersey SDK, Eclipse, npm
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Senior Consultant</h4>
                                <p>June 2015- July 2015</p>
                            </div>
                            <div class="col-md-8">
                                <p>
                                    <strong>Checkpoint Software Technologies Ltd (via – Selectiva Systems Inc.)</strong>
                                </p>
                                <span class="location">
                       <span class="glyphicon glyphicon-map-marker"></span>
                       San Carlos,CA,USA
                   </span>

                            </div>
                        </div>

                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="javascript:;" data-toggle="collapse" data-parent="#accordion"
                                           data-target="#collapseTwo">
                                            Detail
                                            <span class="glyphicon glyphicon-chevron-down"></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            <li>Working with WebEx System Administrator to gather requirements.</li>
                                            <li>Evaluation of frameworks which can be used for the development of
                                                particular feature. Developing POCs wherever required.
                                            </li>
                                            <li>Development of application UI using HTML, javascript and JQuery</li>
                                            <li>Development of backend using Spring Core, Spring MVC, Jersey Rest
                                                framework
                                            </li>
                                            <li>Implementation of scheduled jobs and notifications using Quartz and Java
                                                Mail API.
                                            </li>
                                            <li>Assisting QA and System Admin during testing phase</li>
                                        </ul>

                                    </div>
                                    <div class="panel-footer">
                                        <strong>Skills used:</strong>
                                        Java, Spring MVC, Restful web-services, Javascript, JQuery, Java Mail API ,
                                        Ehcache, MySql, Maven, Quartz Scheduler, Eclipse
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div>
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Project Lead</h4>
                                <p>September 2013- April 2015</p>
                            </div>
                            <div class="col-md-8">
                                <p>
                                    <strong>MasterCard International Inc.(via – Tech Mahindra Ltd)</strong>
                                </p>
                                <span class="location">
                       <span class="glyphicon glyphicon-map-marker"></span>
                       Kuala Lumpur, Malaysia
                   </span>

                            </div>
                        </div>

                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="javascript:;" data-toggle="collapse" data-parent="#accordion"
                                           data-target="#collapseThree">
                                            Detail
                                            <span class="glyphicon glyphicon-chevron-down"></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            <li>Working with business analyst to gather requirements.</li>
                                            <li>Preparation of design documents.</li>
                                            <li>Evaluation of frameworks which can be used for the development of
                                                particular feature. Developing POCs wherever required.
                                            </li>
                                            <li>Development of card issuer management application and inControl
                                                hosted application using GWT and core java.
                                            </li>
                                            <li>Development of MasterPass wallet feature/enhancement as per the
                                                requirements using frameworks like Angular JS, JBOSS Seam, SOAP and
                                                RESTFul websevices (JBOSS RestEasy) etc.
                                            </li>
                                            <li>Presentation of developed feature to the team as part of Agile
                                                methodology
                                            </li>
                                            <li>Integrating MasterPass with financial institutions’ IDP to provide
                                                SSO capabilities to users for accessing MasterPass wallet using SAML
                                            </li>
                                            <li>Ensuring on-time delivery of various features/enhancements handled
                                                by MasterPass wallet team.
                                            </li>
                                            <li>Helping in recruitment of new team members</li>
                                            <li>Mentoring new team members so that they understand the application
                                                architecture thoroughly.
                                            </li>
                                            <li>Preparation of technical guidelines and code conventions which were
                                                used to maintain the quality of code delivered from offshore
                                            </li>
                                            <li>Development test automation scripts using Selenium Web-driver.</li>

                                        </ul>

                                    </div>
                                    <div class="panel-footer">
                                        <strong>Skills used:</strong>
                                        Java, JBoss Seam, JPA, JMS, Restful web-services (Using JBOSS RestEasy),
                                        Javascript, JQuery, JSF, Angular JS, Jquery, Oracle 11g, Ant, Toad, Eclipse
                                        3.5 (Galileo), Hypersonic, Maven, Toad, Citrix, Putty, WinSCP, SAML, OAuth,
                                        Selenium Web-driver, Google Web Toolkit, MasterCard Custom Frameworks
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Project Lead</h4>
                                <p>August 2011- Feb 2012</p>
                            </div>
                            <div class="col-md-8">
                                <p>
                                    <strong>Bloomberg L. P. (via – Tech Mahindra Ltd)</strong></p>
                                <span class="location">
                       <span class="glyphicon glyphicon-map-marker"></span>
                       New York, New York
                   </span>

                            </div>
                        </div>

                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="javascript:;" data-toggle="collapse" data-parent="#accordion"
                                           data-target="#collapseFour">
                                            Detail
                                            <span class="glyphicon glyphicon-chevron-down"></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            <li>Review of pre-defined reporting requirements from business team</li>
                                            <li>Development of SQL (JDBC) for generating report data from Oracle
                                                databases, writing sql queries for retrieving data from the case law
                                                database, using various oracle functions
                                            </li>
                                            <li>Development of reporting framework using Apache POI and Spring</li>
                                            <li>Enhancement within the client proprietary CaseLaw framework for data
                                                retrieval.
                                            </li>
                                            <li>Enhancement within client proprietary CaseLaw framework for
                                                converting data into spreadsheet model format. Creating Data objects
                                                holding the retrieved data from the database and passing the
                                                populated data object to the Case Law framework to prepare the
                                                spreadsheet. Also modifying the cron configuration file for adding
                                                the job for the newly created report.
                                            </li>
                                            <li>Working with business team to review / modify reports as requested
                                            </li>
                                            <li>Debug & Resolve reported system issues.</li>
                                        </ul>

                                    </div>
                                    <div class="panel-footer">
                                        <strong>Skills used:</strong>
                                        Java 5, Apache POI, Maven, SQL Developer
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Project Lead </h4>
                                <p>March 2009- Feb 2011</p>
                            </div>
                            <div class="col-md-8">
                                <p>
                                    <strong>O. C Tanner,
                                        (via – Tech Mahindra Ltd)</strong>
                                </p>
                                <span class="location">
                       <span class="glyphicon glyphicon-map-marker"></span>
                       Salt Lake City, UT,USA
                   </span>

                            </div>
                        </div>

                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="javascript:;" data-toggle="collapse" data-parent="#accordion"
                                           data-target="#collapseFive">
                                            Detail
                                            <span class="glyphicon glyphicon-chevron-down"></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            <li>Approval of system designs and evaluating them against architecture
                                                and design principles set for the project.
                                            </li>
                                            <li>Development of technical specifications, technical design and
                                                perform reviews. Creation of the High level and low level designs of
                                                the modules. Created class and sequence diagrams for the various
                                                modules. Also created the domain model for the various modules.
                                            </li>
                                            <li>Delivering multiple modules such as Nomination-Approval, Client Data
                                                Configuration, Manual Remediation etc. Developed using Seam,
                                                ICEfaces, JPA. Coded Nomination-Approval module using ICEFaces, JPA,
                                                Seam and Jboss BPM. Created database mapping for JPA using
                                                annotations. Created process definition for the Jboss BPM.
                                                Development of an interface to integrate the p42 and the BPM engine.
                                            </li>
                                            <li>Exploring and optimising various icefaces components like
                                                ice:datatable, ice: tree etc used throughout the application.
                                                Created xhtml pages for the modules using various icefaces
                                                components.
                                            </li>
                                            <li>Implementation of Role based security framework in java, which is
                                                being used throughout the application for checking the user’s
                                                permissions. Development of the database model to support the role
                                                based security framework. Created authorization framework for the
                                                application.
                                            </li>
                                            <li>Personalization based on user role</li>

                                        </ul>

                                    </div>
                                    <div class="panel-footer">
                                        <strong>Skills used:</strong>
                                        Java 6, Java EE 5, SOA, JBoss 5.0, JSF, ICEfaces 1.8.2 , JPA (Hibernate),
                                        Seam framework 2.x, JBoss jBPM, JMS, Eclipse 3.x, Subversion.ANT, Toad,
                                        Oracle Developer, Eclipse, Yourkit, SQL Developer, XMLSpy, JProbe, GIT,
                                        inFusion, inCode, Oracle 11g, JBoss AS 5.0.0
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Software Engineer </h4>
                                <p>March 2009- Feb 2011</p>
                            </div>
                            <div class="col-md-8">
                                <p>
                                    <strong>FedEx (via – Satyam Computer Services Ltd)</strong>
                                </p>
                                <span class="location">
                       <span class="glyphicon glyphicon-map-marker"></span>
                       Hyderabad, India
                   </span>

                            </div>
                        </div>

                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="javascript:;" data-toggle="collapse" data-parent="#accordion"
                                           data-target="#collapseSix">
                                            Detail
                                            <span class="glyphicon glyphicon-chevron-down"></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseSix" class="panel-collapse collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            <li>Development of technical specifications, technical design and
                                                perform reviews of two modules.
                                            R
                                            <li>Design and implementation of Workflow using Aqualogic/Oracle BPM.
                                                Designed the process graph using ALBPM.
                                            </li>
                                            <li>Exposure of ALBPM Process Graph using PAPI and Web Service client to
                                                be used by the legacy systems of the organisation
                                            </li>
                                            <li>Integration of ALBPM (Exposed as a web service) with Global PRS
                                                Application. Exposed the PAPI client as a web service and invoked
                                                the same from the GPRS System.
                                            </li>
                                            <li>Implementation JSF (IceFaces) screens with dynamic creation of
                                                components based on the configuration of user role. The
                                                Configuration was retrieved from the database.
                                            </li>
                                            <li>Implementation of the Rule Framework for calculation of recommended
                                                charges based on region. Used the factory design patter to
                                                instantiate the implementation based on the region, and get the
                                                calculation done from that.
                                            </li>
                                            <li>Integration of Global PRS with LDAP directory structure to make the
                                                system Role dependent.
                                            </li>
                                            <li>Design of XML schema and implementation of conversion logic from xml
                                                to java object and vice versa using JAXB. Created the xsd as per the
                                                requirement and wrote code to convert the java object into xml and
                                                vice versa.
                                            </li>

                                        </ul>

                                    </div>
                                    <div class="panel-footer">
                                        <strong>Skills used:</strong>
                                        Java 5, J2EE, JSF (Icefaces), Spring 2.x, Hibernate, Aqualogic BPM/Oracle
                                        BPM, PAPI, My Eclipse 5.0,SVN,Tortoise,ANT,Star UML, Junit, Oracle 10G,
                                        WebLogic9.2
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </section>
        </div>

    </div>


</div>


<!--
<div class="col-md-3">
    <div>
        &lt;!&ndash; affix sidebar &ndash;&gt;
        <div class="bs-sidebar hidden-print" role="complementary" data-offset-top="-80" bs-affix>

            <ul class="nav bs-sidenav">

                <li data-target="#modals" bs-scrollspy>
                    <a href="#modals">Modal</a>
                    <ul class="nav">
                        <li data-target="#modals-examples" bs-scrollspy><a href="#modals-examples">Examples</a>
                        </li>
                        <li data-target="#modals-usage" bs-scrollspy><a href="#modals-usage">Usage</a>
                        </li>
                    </ul>
                </li>

                <li data-target="#asides" bs-scrollspy>
                    <a href="#asides">Aside</a>
                    <ul class="nav">
                        <li data-target="#asides-examples" bs-scrollspy><a href="#asides-examples">Examples</a>
                        </li>
                        <li data-target="#asides-usage" bs-scrollspy><a href="#asides-usage">Usage</a>
                        </li>
                    </ul>
                </li>

                <li data-target="#alert" bs-scrollspy>
                    <a href="#alert">Alert</a>
                    <ul class="nav">
                        <li data-target="#alert-examples" bs-scrollspy><a href="#alert-examples">Examples</a>
                        </li>
                        <li data-target="#alert-usage" bs-scrollspy><a href="#alert-usage">Usage</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
        &lt;!&ndash;/affix sidebar &ndash;&gt;
    </div>
</div>


<div class="col-md-9">

    <div>
        &lt;!&ndash; modal &ndash;&gt;
        <div>

            <div class="page-header">
                <h1 id="modals">Modals <a class="small" href="//github.com/mgcrea/angular-strap/blob/master/src/modal/modal.js" target="_blank">modal.js</a>
                </h1>
                <code>mgcrea.ngStrap.modal</code>
            </div>

            <h2 id="modals-examples">Examples</h2>
            <p>Modals are streamlined, but flexible, dialog prompts with the minimum required functionality and smart defaults.</p>

            <h2 id="tabs-usage">Usage</h2>
            <p>Append a <code>bs-tabs</code>attribute to any element to enable the directive.</p>

            <div class="callout callout-info">
                <h4>Custom animations</h4>
                <p>Pane animation is done with <code>ngClass('active')</code> callbacks and require custom CSS.</p>
            </div>
            &lt;!&ndash;/modal &ndash;&gt;
        </div>


        <div>
            &lt;!&ndash; aside &ndash;&gt;
            <div>

                <div class="page-header">
                    <h1 id="asides">Asides <a class="small" href="//github.com/mgcrea/angular-strap/blob/master/src/aside/aside.js" target="_blank">aside.js</a>
                    </h1>
                    <code>mgcrea.ngStrap.aside</code>
                </div>

                <h2 id="asides-examples">Examples</h2>
                <p>Asides are custom panels, drawers that inherit the behavior of modals.</p>

                <div class="callout callout-danger">
                    <h4>Plugin dependency</h4>
                    <p>Asides require the <a href="#modals">modal plugin</a> to be included.</p>
                </div>
                <h2 id="asides-usage">Usage</h2>
                <p>Append a <code>bs-aside</code>attribute to any element to enable the plugin.</p>

            </div>
            &lt;!&ndash;/aside &ndash;&gt;
        </div>

        <div>
            &lt;!&ndash; Alert &ndash;&gt;
            <div>

                <div class="page-header">
                    <h1 id="alert"> Alert <a class="small" href="//github.com/mgcrea/angular-strap/blob/master/src/alert/alert.js" target="_blank">alert.js</a>
                    </h1>
                    <code>mgcrea.ngStrap.alert</code>
                </div>

                <h2 id="alert-examples">Examples</h2>
                <p>Alerts are styled tiny dialogs that inherit the behavior of modals.</p>

                <div class="callout callout-danger">
                    <h4>Plugin dependency</h4>
                    <p>Alerts require the <a href="#modals">modal plugin</a> to be included.</p>
                </div>
                <h2 id="alert-usage">Usage</h2>
                <p>Append a <code>bs-alert</code>attribute to any element to enable the plugin.</p>

            </div>
            &lt;!&ndash;/alert &ndash;&gt;
        </div>

    </div>

</div>



&lt;!&ndash;
<div data-spy="scroll" data-target="#myScrollspy" data-offset="20" style="position: relative">

<div class="container">
    <div class="row">
        <nav class="col-md-3" id="myScrollspy">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#section1">Section 1</a></li>
                <li><a href="#section2">Section 2</a></li>
                <li><a href="#section3">Section 3</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Section 4 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#section41">Section 4-1</a></li>
                        <li><a href="#section42">Section 4-2</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="col-md-9">
            <div id="section1">
                <h1>Section 1</h1>
                <p>Try to scroll this section and look at the navigation list while scrolling!</p>
            </div>
            <div id="section2">
                <h1>Section 2</h1>
                <p>Try to scroll this section and look at the navigation list while scrolling!</p>
            </div>
            <div id="section3">
                <h1>Section 3</h1>
                <p>Try to scroll this section and look at the navigation list while scrolling!</p>
            </div>
            <div id="section41">
                <h1>Section 4-1</h1>
                <p>Try to scroll this section and look at the navigation list while scrolling!</p>
            </div>
            <div id="section42">
                <h1>Section 4-2</h1>
                <p>Try to scroll this section and look at the navigation list while scrolling!</p>
            </div>
        </div>
    </div>
</div>

</div>

&lt;!&ndash;
<div id="wrapper" class="row-fluid" ng-controller="resumeController">


    <div class="col-md-9">

        <div id="Summary">
            <h2>Summary</h2>
            <ul>
                <li>Expert in design & development using Java/Java EE stack frameworks.</li>
                <li>Experience in development of Add-on and plugins for Jive 7 SBS and Jive – X (Cloud)
                    using Jive
                    Node SDK.
                </li>
                <li>Experience in development of Single Page Applications (SPA) using Angular JS</li>
                <li>Experience of server-side JavaScript programming frameworks like Node JS, Express JS
                    etc.
                </li>
                <li>Over 2 years of design and development experience in Business Process Management(BPM),
                    using
                    workflow
                    engines like Aqualogic/Oracle BPM and JBoss jBPM
                </li>
                <li>Knowledge in Salesforce.com development using Apex and Visual force.</li>
                <li>Knowledge of Oracle Identity and Access Management (OIM and OAM)</li>
                <li>Ability to learn new skills rapidly in a team or working independently by using
                    experience in
                    past
                    related
                    technologies.
                </li>
                <li>Well versed with waterfall and agile models software development methodologies.</li>
                <li>Ability to translate business needs into technology requirements such as Designing
                    technical
                    specifications,
                    development and quality control.
                </li>
                <li>Ability to manage team of medium size and ensure timely deliverables of work products.
                </li>
                <li>Ability to manage team of medium size and ensure timely deliverables of work products.
                </li>
                <li>Successfully handled pre-sales operations for major German Chemical Company in Kuala
                    Lumpur,
                    Malaysia
                    and
                    Sao Paulo, Brazil.
                </li>
                <li>Exposure of working in an Onsite - Offshore development model. Worked as an Onsite
                    coordinator
                    for
                    multiple
                    projects.
                </li>
            </ul>
        </div>


        <div id="Positions">
            <h2>Positions Held</h2>
            <ul>
                <li>Senior Applications Analyst (Dec 2015- Till Date) at Hitachi Data Systems, Santa Clara,
                    CA,
                    USA
                </li>
                <li>Programmer Analyst (June 2015- Dec 2015) at Selectiva Systems Inc., San Jose, CA, USA
                </li>
                <li>Project Lead (August 2005 – April 2015) at Tech Mahindra, Hyderabad, India</li>
            </ul>

        </div>


        <div id="Skills">
            <h2>Skills</h2>
            <ul>
                <li>Expert in design & development using Java/Java EE stack frameworks.</li>
                <li>Experience in development of Add-on and plugins for Jive 7 SBS and Jive – X (Cloud)
                    using
                    Jive Node
                    SDK.
                </li>
                <li>Experience in development of Single Page Applications (SPA) using Angular JS</li>
                <li>Experience of server-side JavaScript programming frameworks like Node JS, Express JS
                    etc.
                </li>
                <li>Over 2 years of design and development experience in Business Process Management(BPM),
                    using
                    workflow
                    engines like Aqualogic/Oracle BPM and JBoss jBPM
                </li>
                <li>Knowledge in Salesforce.com development using Apex and Visual force.</li>
                <li>Knowledge of Oracle Identity and Access Management (OIM and OAM)</li>
                <li>Ability to learn new skills rapidly in a team or working independently by using
                    experience
                    in past
                    related
                    technologies.
                </li>
                <li>Well versed with waterfall and agile models software development methodologies.</li>
                <li>Ability to translate business needs into technology requirements such as Designing
                    technical
                    specifications,
                    development and quality control.
                </li>
                <li>Ability to manage team of medium size and ensure timely deliverables of work products.
                </li>
                <li>Ability to manage team of medium size and ensure timely deliverables of work products.
                </li>
                <li>Successfully handled pre-sales operations for major German Chemical Company in Kuala
                    Lumpur,
                    Malaysia and
                    Sao Paulo, Brazil.
                </li>
                <li>Exposure of working in an Onsite - Offshore development model. Worked as an Onsite
                    coordinator for
                    multiple
                    projects.
                </li>
            </ul>
        </div>

        <div id="Projects">
            <h2>Projects</h2>
            <ul>
                <li>Expert in design & development using Java/Java EE stack frameworks.</li>
                <li>Experience in development of Add-on and plugins for Jive 7 SBS and Jive – X (Cloud)
                    using
                    Jive Node
                    SDK.
                </li>
                <li>Experience in development of Single Page Applications (SPA) using Angular JS</li>
                <li>Experience of server-side JavaScript programming frameworks like Node JS, Express JS
                    etc.
                </li>
                <li>Over 2 years of design and development experience in Business Process Management(BPM),
                    using
                    workflow
                    engines like Aqualogic/Oracle BPM and JBoss jBPM
                </li>
                <li>Knowledge in Salesforce.com development using Apex and Visual force.</li>
                <li>Knowledge of Oracle Identity and Access Management (OIM and OAM)</li>
                <li>Ability to learn new skills rapidly in a team or working independently by using
                    experience
                    in past
                    related
                    technologies.
                </li>
                <li>Well versed with waterfall and agile models software development methodologies.</li>
                <li>Ability to translate business needs into technology requirements such as Designing
                    technical
                    specifications,
                    development and quality control.
                </li>
                <li>Ability to manage team of medium size and ensure timely deliverables of work products.
                </li>
                <li>Ability to manage team of medium size and ensure timely deliverables of work products.
                </li>
                <li>Successfully handled pre-sales operations for major German Chemical Company in Kuala
                    Lumpur,
                    Malaysia and
                    Sao Paulo, Brazil.
                </li>
                <li>Exposure of working in an Onsite - Offshore development model. Worked as an Onsite
                    coordinator for
                    multiple
                    projects.
                </li>
            </ul>
        </div>


    </div>

    <ul class="nav bs-sidenav">
        <li data-target="#Summary" bs-scrollspy>
            <a href="#Summary">Summary</a>
        </li>
        <li data-target="#Positions" bs-scrollspy>
            <a href="#Positions">Positions</a>
        </li>
        <li data-target="#Skills" bs-scrollspy>
            <a href="#Skills">Skills</a>
        </li>
        <li data-target="#Projects" bs-scrollspy>
            <a href="#Projects">Projects</a>
        </li>


    </ul>


</div>

&ndash;&gt;

&lt;!&ndash;
<div class="container-fluid" ng-controller="resumeController">
    <div class="col-md-9">
        <div id="Summary">
            <h2>Summary</h2>
            <ul>
                <li>Expert in design & development using Java/Java EE stack frameworks.</li>
                <li>Experience in development of Add-on and plugins for Jive 7 SBS and Jive – X (Cloud) using Jive
                    Node SDK.
                </li>
                <li>Experience in development of Single Page Applications (SPA) using Angular JS</li>
                <li>Experience of server-side JavaScript programming frameworks like Node JS, Express JS etc.</li>
                <li>Over 2 years of design and development experience in Business Process Management(BPM), using
                    workflow
                    engines like Aqualogic/Oracle BPM and JBoss jBPM
                </li>
                <li>Knowledge in Salesforce.com development using Apex and Visual force.</li>
                <li>Knowledge of Oracle Identity and Access Management (OIM and OAM)</li>
                <li>Ability to learn new skills rapidly in a team or working independently by using experience in
                    past
                    related
                    technologies.
                </li>
                <li>Well versed with waterfall and agile models software development methodologies.</li>
                <li>Ability to translate business needs into technology requirements such as Designing technical
                    specifications,
                    development and quality control.
                </li>
                <li>Ability to manage team of medium size and ensure timely deliverables of work products.</li>
                <li>Ability to manage team of medium size and ensure timely deliverables of work products.</li>
                <li>Successfully handled pre-sales operations for major German Chemical Company in Kuala Lumpur,
                    Malaysia
                    and
                    Sao Paulo, Brazil.
                </li>
                <li>Exposure of working in an Onsite - Offshore development model. Worked as an Onsite coordinator
                    for
                    multiple
                    projects.
                </li>
            </ul>
        </div>
        <div id="Positions">
            <h2>Positions Held</h2>
            <ul>
                <li>Senior Applications Analyst (Dec 2015- Till Date) at Hitachi Data Systems, Santa Clara, CA, USA</li>
                <li>Programmer Analyst (June 2015- Dec 2015) at Selectiva Systems Inc., San Jose, CA, USA</li>
                <li>Project Lead (August 2005 – April 2015) at Tech Mahindra, Hyderabad, India</li>
            </ul>

        </div>
        <div id="Skills">
            <h2>Skills</h2>
            <ul>
                <li>Expert in design & development using Java/Java EE stack frameworks.</li>
                <li>Experience in development of Add-on and plugins for Jive 7 SBS and Jive – X (Cloud) using Jive Node
                    SDK.
                </li>
                <li>Experience in development of Single Page Applications (SPA) using Angular JS</li>
                <li>Experience of server-side JavaScript programming frameworks like Node JS, Express JS etc.</li>
                <li>Over 2 years of design and development experience in Business Process Management(BPM), using
                    workflow
                    engines like Aqualogic/Oracle BPM and JBoss jBPM
                </li>
                <li>Knowledge in Salesforce.com development using Apex and Visual force.</li>
                <li>Knowledge of Oracle Identity and Access Management (OIM and OAM)</li>
                <li>Ability to learn new skills rapidly in a team or working independently by using experience in past
                    related
                    technologies.
                </li>
                <li>Well versed with waterfall and agile models software development methodologies.</li>
                <li>Ability to translate business needs into technology requirements such as Designing technical
                    specifications,
                    development and quality control.
                </li>
                <li>Ability to manage team of medium size and ensure timely deliverables of work products.</li>
                <li>Ability to manage team of medium size and ensure timely deliverables of work products.</li>
                <li>Successfully handled pre-sales operations for major German Chemical Company in Kuala Lumpur,
                    Malaysia and
                    Sao Paulo, Brazil.
                </li>
                <li>Exposure of working in an Onsite - Offshore development model. Worked as an Onsite coordinator for
                    multiple
                    projects.
                </li>
            </ul>
        </div>
        <div id="Projects">
            <h2>Summary2</h2>
            <ul>
                <li>Expert in design & development using Java/Java EE stack frameworks.</li>
                <li>Experience in development of Add-on and plugins for Jive 7 SBS and Jive – X (Cloud) using Jive Node
                    SDK.
                </li>
                <li>Experience in development of Single Page Applications (SPA) using Angular JS</li>
                <li>Experience of server-side JavaScript programming frameworks like Node JS, Express JS etc.</li>
                <li>Over 2 years of design and development experience in Business Process Management(BPM), using
                    workflow
                    engines like Aqualogic/Oracle BPM and JBoss jBPM
                </li>
                <li>Knowledge in Salesforce.com development using Apex and Visual force.</li>
                <li>Knowledge of Oracle Identity and Access Management (OIM and OAM)</li>
                <li>Ability to learn new skills rapidly in a team or working independently by using experience in past
                    related
                    technologies.
                </li>
                <li>Well versed with waterfall and agile models software development methodologies.</li>
                <li>Ability to translate business needs into technology requirements such as Designing technical
                    specifications,
                    development and quality control.
                </li>
                <li>Ability to manage team of medium size and ensure timely deliverables of work products.</li>
                <li>Ability to manage team of medium size and ensure timely deliverables of work products.</li>
                <li>Successfully handled pre-sales operations for major German Chemical Company in Kuala Lumpur,
                    Malaysia and
                    Sao Paulo, Brazil.
                </li>
                <li>Exposure of working in an Onsite - Offshore development model. Worked as an Onsite coordinator for
                    multiple
                    projects.
                </li>
            </ul>
        </div>

    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="sidebar-nav">
                <div class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".sidebar-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <span class="visible-xs navbar-brand">Sidebar menu</span>
                    </div>
                    <div class="navbar-collapse collapse sidebar-navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#resume?scrollTo=Summary">Summary</a></li>
                            <li><a href="#resume?scrollTo=Positions">Positions Held</a></li>
                            <li><a href="#resume?scrollTo=Skills">Skills</a></li>
                            <li><a href="#resume?scrollTo=Projects">Projects</a></li>
                        </ul>
                    </div>&lt;!&ndash;/.nav-collapse &ndash;&gt;
                </div>
            </div>
        </div>
    </div>
</div>
<div>
&ndash;&gt;


&ndash;&gt;
-->
